@charset "UTF-8";
section {
  background-color: #ffffff;
}

body {
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  position: relative;
}

button {
  background-color: transparent;
  border-color: transparent;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a, a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h3,
h4,
h5,
h6,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

strong {
  font-weight: bold;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*! Base colors */

/*! Text-aligns */

.align-center {
  text-align: center;
}

/*! Font-weight  */

/*! Media  */

img,
iframe {
  display: block;
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
}
/*! Buttons */
.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

/*! Btn icon margin */
.btn .mbr-iconfont {
  order: 1;
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: sub;
}

/*! Full-screen */

/*! Map */

/*! Scroll to top arrow */

/*! Arrow Down */
/*Gradients animation*/

.menu .navbar-brand {
  display: -webkit-flex;
}
.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
  width: auto;
}
@media (max-width: 991px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
}
@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
}
@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.card-wrapper {
  -webkit-flex: 1;
}

.navbar-toggler {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
  box-shadow: none;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

.row > * {
  padding-right: 1rem;
  padding-left: 1rem;
}

:focus {
  outline: none;
}

ul {
  margin-bottom: 2.3125rem;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.container,
.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}
.row > [class*=col] {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}